<section id="about">
  <div class="bubbleWrap row align-spaced">
    <div class="med-large-3 large-2 column">
      <div>
        multisig
      </div>
    </div>
    <div class="med-large-3 large-2 column">
      mobile apps
    </div>
    <div class="med-large-3 large-2 column">
      node reputation system
    </div>
    <div class="med-large-3 large-2 column">
      messaging
    </div>
    <div class="med-large-3 large-2 column">
      2-tiered architecture
    </div>
    <div class="med-large-3 large-2 column">
      harvesting
    </div>
  </div>

  <div class="bubbleWrap row align-justify">
    <div class="med-large-2 column">
      delegated harvesting
    </div>
    <div class="med-large-2 column">
    </div>
    <div class="med-large-2 column">
      mosaic
    </div>
    <div class="med-large-2 column">
      <video>
        video
      </video>
    </div>
    <div class="med-large-2 column">
      NCC
    </div>
    <div class="med-large-2 column">
      NIS
    </div>
  </div>

  <div class="bubbleWrap row align-spaced">
    <div class="med-large-2 column">
      Consensus Mechanism
    </div>
    <div class="med-large-2 column">
      100% New Code
    </div>
    <div class="med-large-2 column">
      Block Times
    </div>
    <div class="med-large-2 column">
      XEM
    </div>
    <div class="med-large-2 column">
      Namespace
    </div>
    <div class="med-large-2 column">
      Spam Protection
    </div>
  </div>
</section>
